body {
  height: auto;
  margin: 0px;
  --li-color: white;
  --header-color: #333333;
  --sidebar-color: #dbdbdb;
}
/* Google Material Symbol Font */
.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

/* Button by Paper CSS */

/* CSS */
.nice-button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 0.85rem;
  line-height: 23px;
  outline: none;
  padding: 10px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.nice-button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.nice-button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.invisible {
  visibility: hidden;
}

header {
  background-color: var(--header-color);
  color: whitesmoke;
  display: flex;
  font-size: 20px;
  justify-content: flex-start;
  padding: 15px;
  font-family: 'Comfortaa', cursive;
}

#header-title {
  margin-left: 90px;
}

main {
  display: flex;
  height: calc(100vh - 183.59px);
  font-family: 'Roboto', sans-serif !important;
}

.project-sidebar {
  display: flex;
  padding: 20px 40px;
  flex-direction: column;
  background-color: var(--sidebar-color);
  align-items: center;
}

.project-list-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.project-container {
  display: flex;
  align-items: center;
  background-color: var(--sidebar-color);
  border-radius: 7px;
  width: 250px;
  justify-content: space-between;
}

.project-container>span {
  margin-right: 5px;
}

.project-list-item {
  padding: 13px;
  background-color: var(--sidebar-color);
  border: none;
  font-size: 1.1rem;
  text-align: left;
  font-weight: 200;
  cursor: pointer;
  border-radius: 7px;
}

.project-container:hover {
  filter: brightness(90%);
}

.project-container:active {
  filter: brightness(85%);
}

.project-title {
  margin: 19px;
  cursor: pointer;
}

.project-title-input {
  font-size: 1.5em;
  font-weight: bold;
  max-height: 28px;
  margin: 19px;
  padding: 0px;
  border: none;
  text-align: center;
  display: block;
  font-family: 'Roboto' !important;
}

input:focus-visible.project-title-input {
  outline: black solid 1px !important;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  align-items: center;
}

.todo-list {
  width: 700px;
}

@media only screen and (max-width: 768px) {
  .todo-list {
    width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .todo-list {
    width: 200px;
  }

  .todo-date {
    display: none;
  }
}

.todo-li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 7px;
  background-color: var(--li-color);
}

li:hover {
  filter: brightness(95%);
}

li:active {
  filter: brightness(90%);
}

.checkbox.completed {
  background-image: url(https://toppng.com/public/uploads/thumbnail/check-mark-white-11562946459qzfx8x4bgx.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.completed {
  text-decoration: line-through;
}

.checkbox {
  height: 1.3rem;
  width: 1.3rem;
  border: 2px solid rgb(31, 94, 231);
  border-radius: 29px;
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: rgb(31, 94, 231);
}

.todo-title {
  margin-left: 15px;
}

.todo-end-container {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.todo-date {
  margin-right: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #767676;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.new-todo-button {
  margin-top: 10px;
  margin-right: 5px;
}

.add-todo-button {
  margin-top: 0px;
}

.input-container input, .input-container textarea {
  border: none;
  font: inherit;
}

input:focus-visible, textarea:focus-visible {
  outline: none;
}

textarea {
  resize: none;
}

.priority-input {
  width: 25%;
  margin: 10px 0px;
}

.medium {
  border-color: orange;
  background-color: orange;
}

.high {
  border-color: red;
  background-color: red;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--header-color);
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  color: whitesmoke;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}