body {
  height: auto;
  margin: 0px;
  --li-color: white;
  --header-color: #17BEBB;
}

header {
  background-color: var(--header-color);
  color: whitesmoke;
  display: flex;
  font-size: 20px;
  justify-content: flex-start;
  padding: 15px;
}

#header-title {
  margin-left: 90px;
}

main {
  display: flex;
  height: auto;
}

.project-sidebar {
  display: flex;
  padding: 20px 40px;
  flex-direction: column;
  background-color: #17bebb4d;
  width: 15%;
}

.project-list-container {
  display: flex;
  flex-direction: column;
}

.project-title {
  margin: 19px;
}

.project-title-input {
  font-size: 1.5em;
  font-weight: bold;
  max-height: 27px;
  font-family: 'Times New Roman', Times, serif;
  margin: 19px;
  padding: 0px;
  border: none;
  text-align: center;
  display: block;
}

input:focus-visible.project-title-input {
  outline: black solid 1px !important;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  align-items: center;
}

.todo-list {
  width: 700px;
}

@media only screen and (max-width: 768px) {
  .todo-list {
    width: 400px;
  }
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--li-color);
}

li:hover {
  filter: brightness(95%);
}

li:active {
  filter: brightness(90%);
}

.completed {
  background-image: url(https://toppng.com/public/uploads/thumbnail/check-mark-white-11562946459qzfx8x4bgx.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.not-completed, .completed {
  height: 1.3rem;
  width: 1.3rem;
  border: 2px solid rgb(31, 94, 231);
  border-radius: 29px;
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: rgb(31, 94, 231);
}

.todo-title {
  margin-left: 15px;
}

.todo-end-container {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.todo-date {
  margin-right: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.new-todo-button {
  margin-top: 10px;
  margin-right: 5px;
}

.add-todo-button {
  margin-top: 0px;
}

.input-container input, .input-container textarea {
  border: none;
  font: inherit;
}

input:focus-visible, textarea:focus-visible {
  outline: none;
}

textarea {
  resize: none;
}

.priority-input {
  width: 25%;
  margin: 10px 0px;
}

.medium {
  border-color: orange;
  background-color: orange;
}

.high {
  border-color: red;
  background-color: red;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--header-color);
  font-size: 20px;
  color: whitesmoke;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}