body {
  width: 100vw;
  height: auto;
  margin: 0px;
}

header {
  background-color: rgb(41, 41, 41);
  color: whitesmoke;
  display: flex;
  font-size: 20px;
  justify-content: flex-start;
  padding: 15px;
  width: 100%
}

#header-title {
  margin-left: 70px;
}

main {
  display: flex;
  height: calc(100vh - 130.59px);
}

.project-sidebar {
  display: flex;
  padding: 20px 40px;
  flex-direction: column;
  background-color: gray;
  width: 15%;
}

.project-list-container {
  display: flex;
  flex-direction: column;
}

.project-title {
  margin: 19px;
}

.project-title-input {
  font-size: 1.5em;
  font-weight: bold;
  max-height: 27px;
  font-family: 'Times New Roman', Times, serif;
  margin: 19px;
  padding: 0px;
  border: none;
  display: block;
}

.todo-list-container {
  margin: 20px;
  padding-left: 20px;
  width: 40%;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.completed {
  background-image: url(https://toppng.com/public/uploads/thumbnail/check-mark-white-11562946459qzfx8x4bgx.png);
  background-color: rgb(31, 94, 231);
  background-size: contain;
  background-repeat: no-repeat;
}

.not-completed, .completed {
  height: 1rem;
  width: 1rem;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.todo-title {
  margin-left: 15px;
}

.todo-end-container {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.todo-date {
  margin-right: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 5px;
}

.input-container input, .input-container textarea {
  border: none;
  font: inherit;
}

input:focus-visible, textarea:focus-visible {
  outline: none;
}

textarea {
  resize: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(41, 41, 41);
  font-size: 20px;
  color: whitesmoke;
  padding: 15px;
}